<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.webix.com/edge/skins/contrast.css" type="text/css" />
        <link rel="stylesheet" href="scripts/ama.css" type="text/css" />
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
        
        <script src="scripts/logout/button.js"></script>
        <script src="scripts/user.js"></script>
        <script src="scripts/question/list.js"></script>
        <script src="scripts/question/view.js"></script>
        <script src="scripts/question/create.js"></script>

        <script src="scripts/ama/window.js"></script>
        <script src="scripts/ama/create.js"></script>
        <script src="scripts/ama/list.js"></script>
        <script src="scripts/ama/form.js"></script>
        <script src="scripts/ama/dialog.js"></script>
        <script src="scripts/ama/view.js"></script>
        
        <script src="scripts/ama.js"></script>
        <title>AMA</title>
    </head>
    <body>
        <input id="userIdHidden" type="hidden" th:value="${userId}" />
    </body>
</html>
